SITE_ACCESS_PASSWORD="Prit-thiy-weew-cef"
SITE_ACCESS_SECRET="24def4839b00733ed6afe6d44d7b57fa2004f0be73509bf383c6ce62bd79a31e"
INVESTOR_OVERVIEW_PASSWORD=""
INVESTOR_SESSION_SECRET=""
RESEND_API_KEY=""
INQUIRY_FROM_EMAIL="SPILL Website <website@spillcafebar.com>"
NEXT_PUBLIC_CONTACT_PHONE=""

