SITE_ACCESS_PASSWORD=""
SITE_ACCESS_SECRET=""
INVESTOR_OVERVIEW_PASSWORD=""
INVESTOR_SESSION_SECRET=""
RESEND_API_KEY=""
INQUIRY_FROM_EMAIL="SPILL Website <website@spillcafebar.com>"
NEXT_PUBLIC_CONTACT_PHONE=""

